body {
    border: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic {
    width: 150px;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
}

.border-blue {
    border: 1px dotted blue;
}